@import url("../css/styleProjet.css");

/* ----------------- ELEMENTS ----------------- */
.iframe{
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe{
    width: 1280px;
    height: 640px;
    text-align: center;
}

p{
    margin : 5% 15% 5% 15%;
    text-align: center;
}

#demo{
    margin : 5% 20% 5% 20%;
}


/* ----------------- MEDIA QUERIES ----------------- */
@media screen and (max-width : 1200px){
    #demo{
        margin : 5% 15% 5% 15%;
    }

    iframe{
        width: 920px;
        height: 480px;
        text-align: center;
    }
}

@media screen and (max-width : 992px){
    #demo{
        margin : 5% 10% 5% 10%;
    }

    iframe{
        width: 720px;
        height: 360px;
        text-align: center;
    }
}

@media screen and (max-width : 576px){
    #demo{
        margin : 5% 5% 5% 5%;
    }
}