@import url("../css/style.css");


/* ----------------- ELEMENTS ----------------- */
#leftPart{
    background-color: #93afc0;
    border-radius: 20px;
    padding: 25px;
}

.elements{
    padding: 50px 25px;
}

.elements img{
    border-radius: 20px;
    width: 300px;
    margin-left: 50px;
}

.elements p{
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-align: center;
}

#leftPart .button{
    text-align: right;
    margin: 5% 5% 0 0;
}

.btn-success{
    color: #fff;
    background-color: #17445e;
    border-color: #17445e;
}

.btn-success:hover{
    color: wheat;
    background-color: #0f3042;
    border-color: #0a212e;
}


/* ----------------- MEDIA QUERIES ----------------- */
@media screen and (max-width : 1200px){
    .elements img{
        margin-left: 70px;
    }
}

@media screen and (max-width : 992px){
    #leftPart{
        border-radius: 20px;
        padding: 25px;
    }

    #rightPart{
        text-align: center;
        margin-top: 30px;
    }

    .elements{
        padding: 30px 15px;
    }

    .elements img{
        margin-left: 0px;
    }

    #leftPart .button{
        text-align: center;
    }
}

@media screen and (max-width : 576px){
    #leftPart{
        border-radius: 20px;
        padding: 25px;
    }

    .elements{
        padding: 30px 50px;
    }

    .elements img{
        width: 250px;
    }
}