@font-face {
	font-family: "Brandon Grotesque";
	src: url('/css/font/Brandon\ Grotesque/Brandon_reg.otf');
}
@font-face {
	font-family: "Brandon Grotesque";
	font-style: italic;
	src: url('/css/font/Brandon\ Grotesque/Brandon_reg_it.otf');
}

@font-face {
	font-family: "Brandon Grotesque";
    font-weight: bold;
	src: url('/css/font/Brandon\ Grotesque/Brandon_bld.otf');
}

html{
    scroll-behavior: smooth;
}

h2, h3, h4, .nav-item, #transition, footer{
    text-align: center;
}

h2{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Brandon Grotesque";
    font-weight: bold;
    font-size: 3em;
}

p{
    font-family: "Brandon Grotesque";
    font-style: normal;
    font-size: 1.5em;
}

/* ----------------- HEADER ----------------- */
.collapse{
    margin-left: 2%;
}

.nav-item{
    color: #fff;
    font-weight: bold;
}

.nav-item:hover{
    color: rgb(233, 206, 158);
    font-weight: bold;
}

.navbar{
    background-color: #113245;
}

.img{
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
}

header{
    margin-top: 75px;
}

h1{
    font-size: 5em;
    padding: 200px 0 0 20%;
    color : #93afc0;
    animation: titre ease 3.5s;
}

@keyframes titre{
    0% {
        opacity: 0;
        transform: translateY(180px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* ----------------- FOOTER ----------------- */
footer{
    background-color: #113245;
    padding: 15px 0 5px 0;
}


/* ----------------- MEDIA QUERIES ----------------- */
@media screen and (max-width : 1200px){
    h2{
        font-size: 2.5em;
    }
    
    p{
        font-size: 1.3em;
    }
}

@media screen and (max-width : 992px){
    .img{
        width: 50px;
        height: 50px;
        margin: 0 20px 0 20px;
    }

    h2{
        font-size: 2em;
    }
    
    p{
        font-size: 1.2em;
    }
}

@media screen and (max-width : 576px){

    nav{
        display: none !important;
    }

    h2{
        font-size: 1.7em;
    }
    
    p{
        font-size: 1.1em;
    }

}