.background p{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25% 20% 0 20%;
    background-color: #17445e;
    height: 80px;
    border-radius: 20px;
}