*.exe binary

media/Projet[[:space:]]Gestion/*.exe filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
media/Projet[[:space:]]Gestion/PrototypeJeuxSerieuxSetup.exe filter=lfs diff=lfs merge=lfs -text
